body
{
    font-family: 'Comforter', cursive;
    font-family: 'Source Serif 4', sans-serif;
}

.container
{
    width: 1250px;
    margin: auto;
}

h1
{
    text-align: center;
    background-color: rgb(89, 216, 174);
}

h5
{
    text-align: center;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}


.box1
{
    width:45%;
    margin:auto;
    padding: 15px 20px 15px 20px;
    border: 2px solid black;
}

.box1 .box1_1
{
    width:48%;
    margin:auto;
}

.box1_1 img
{
    width:100%;
}